@use "./colors" as *;

.mines {
	&__field {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: 1em auto;

		&-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 4rem;
			background: rgba(0, 0, 0, 0.6);
		}
	}

	&__options {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-withdrawbox {
			display: flex;
            flex-direction: column;
			justify-content: center;
		}

        &-btn {
            margin-top: 1em;
        }

        &-inputs {
            margin-top: 0.5em;
        }
	}

	&__item {
		position: relative;
		margin: 0.2em;
		width: 100px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $tiles-color;

		&::after {
			content: "";
			position: absolute;
			width: 70%;
			height: 70%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $tiles-color-hover;
			z-index: -1;
		}

		&-icon {
			font-size: 4rem;
			color: $text-color;

			&--green {
				color: rgb(113, 214, 77);
			}
		}

		&-img {
			width: 100%;
			object-fit: cover;
		}

		&-under {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.mines-canhover {
	cursor: pointer;
	transition: background 0.5s;

	&:hover {
		background: $tiles-color-hover;
	}
}

.flip-down {
	animation: flip-saper-down 0.1s ease-in-out forwards;
}

.flip-up {
	animation: flip-saper-up 0.1s ease-in-out forwards;
}

@keyframes flip-saper-down {
	from {
		transform: rotateY(0deg);
		opacity: 1;
	}
	to {
		transform: rotateY(-90deg);
		opacity: 0;
	}
}

@keyframes flip-saper-up {
	from {
		transform: rotateY(-90deg);
		opacity: 0;
	}
	to {
		transform: rotateY(0deg);
		opacity: 1;
	}
}
